.img-size {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.father {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  justify-content: space-around;
}

.links {
  margin: 5px;
}

.image-style {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}